<h1>Who We Are</h1>
<article>
  <p>Established in 2005, Elastic Communications & Events works with clients to achieve specific communication goals and objectives by creating and executing exceptional meetings, conferences, special events and travel incentive programs.</p>
  <p>Our principal, Yvonne Dewar, is a Certified Meeting Professional with more than 20 years experience in meetings and event planning.</p>  
  <p>Partnering with respected industry professionals, Elastic assembles the best team possible for each project. The same senior team works on your business from start to finish, so you can be assured of consistency and exceptional execution.</p>
</article>
