<section>
  <header>
    <div class="page-header">
      <h1>How We Do It</h1>
    </div>
  </header>
  <article>
    <p>Partnering with respected industry professionals, Elastic assembles the best team possible for each project.  The same senior team works on your business from start to finish, so you can be assured of consistency and exceptional execution.</p>

    <p>At Elastic, we take the time to get to know you, your goals and objectives. We are fully confident in our ability to plan, organize and execute a successful conference and exposition by embracing your objectives while providing unique and creative solutions.</p>

    <p><strong>Elastic Communications & Events Inc.</strong>  offers a diverse range of services: from planning and logistics to execution and evaluation.</p>

    <p>We focus on four key components:</p>

    <dl>
      <dt>Planning</dt> 
      <dd>We work with our clients to determine meeting objectives and develop a plan of action. This includes conducting needs assessments, developing a critical path, researching industry hot trends and sourcing premier venues, destinations and hotels.</dd>

      <dt>Logistics</dt>
      <dd>We are logistical experts, we ensure everything from the registration, to meeting functions, to catering and audio visual, operate flawlessly.  It is what we do and we’re good at it!</dd>

      <dt>Execution</dt>
      <dd>We provide hands-on expertise including site selection, contract negotiation, travel, registration, program development and on-site management.</dd>

      <dt>Evaluation</dt>
      <dd>Elastic can help you evaluate the success of your meeting, conference or event. We work with our clients to create customized evaluation forms designed to determine whether all key objectives were achieved.</dd>  

  </article>
</section>
