<section>
  <header>
    <h1>Home</h1>
  </header>
  <p>A sales meeting. A product launch. A travel incentive. They all provide your company with a unique opportunity to share a powerful experience with employees, sales teams, trade partners and stakeholders. </p>

  <p>The more powerful the experience - the more influential the message.</p>

  <p>Elastic Communications & Events Inc. provides a full range of meeting and event services - from planning and marketing to execution and evaluation. </p>

  <p>In today's business world, meetings and events must be creative, unique and professional and at the same time, successfully meet business objectives. Elastic Communications & Events can provide customized solutions for groups of any size and take you to destinations worldwide.</p> 

  <p>We are committed to providing you with solutions - on budget and on time.<p>

  <p>Ask us how to make you event greener. [Have as a box that links to Contact Page]<p>
</section>
