<section>
  <header>
    <div class="page-header">
      <h1>Elastic Communications & Events Inc.</h1>
    </div>
  </header>

  <p>A Product Launch!  A Travel Incentive!  Annual General Conference!   They all provide your company with a unique opportunity to share a powerful experience with employees, sales teams, trade partners and stakeholders. </p>

  <p>In today's business world, meetings and events must be creative, unique and professional and at the same time, successfully meet your business goals.  We believe the more powerful the event → the more influential the message → the more productive and engaged the staff. </p>

  <p><strong>Elastic Communications & Events Inc.</strong> provides a full range of meeting and event services that are customized to ensure your business objectives are achieved within budget and on time.  We work with groups of any size and can take you to destinations worldwide. </p>

  <p><em>Elastic is never static …. we are always looking to make your conference, meeting or event an original!</em></p> 

  <p><strong>Elastic Communications & Events Inc.</strong> clients range in industry from IT to Agriculture, Heathcare to Banking just to name a few.  These customers trust us and return year after year because of our service standards, work ethic and passion for the meetings industry.  Programs have included annual general meetings, employee recognition events, national sales meetings, travel incentive programs, symposiums, trade shows and product launches.<p>
</section>

<!--<section>
 <div class="hero-unit">
    <h1>Planning an event?</h1>
    <p>Let us help you stretch everything from budgets to imaginations. &trade;</p>
    <p>
      <a class="btn btn-primary btn-large">
        Contact Us
      </a>
    </p>
  </div>
</section>
-->

<section>
<br>
<div id="section-preview" class="row-fluid">

  <div class="span4">
    <h2><%= link_to "Who", who_path %></h2>
    <p>Established in 2005, Elastic Communications & Events works with clients to achieve specific communication goals and objectives by creating and executing exceptional meetings, conferences, special events and exposition programs.</p>
  </div>

  <div class="span4">
    <h2><%= link_to "What", what_path %></h2>
    <p>Elastic Communications & Events specializes in meetings, events and travel incentive programs for corporations, government and associations.  You tell us what and we bring your business objectives to life!</p>
  </div>

  <div class="span4">
    <h2><%= link_to "How", how_path %></h2>
    <p>Partnering with respected industry professionals, Elastic assembles the best team possible for each project.  The same senior team works on your business from start to finish, so you can be assured of consistency and exceptional execution.</p>
  </div>

</div>
</section>
