<section>
  <header>
    <h1>The Elastic Team</h1>
  </header>

  <p>Once you give the go-ahead, the same team that begins work on your program will see it through to completion. This means a consistent contact for you, venues and suppliers: in advance and on-site.</p>

  <article>    
    <h2>Yvonne Dewar <small>CMP, Senior Account Director</small></h2>

    <p>Yvonne is a seasoned professional with over 20 years experience as a senior executive manager. Prior to launching Elastic Communications & Events, she held the post of Director, Conference & Events for a leading North American Communication & Events firm.</p>

    <p>A Certified Meeting Professional [CMP], Yvonne has traveled extensively, directing and managing events for 20 to 5,500 attendees.  Programs have included annual general meetings, employee recognition events, national sales meetings, travel incentive programs, symposiums, trade shows and product launches.</p>

    <p>Yvonne has directed meeting and incentive programs for Fortune 500 companies in many industries including financial, high tech and pharmaceutical as well as government and association clients.  Her clients return year after year because of her service standards, work ethic and passion for the meetings industry.</p>

    <p>Yvonne is married with 2 girls, 2 fish and a hamster named Harry!</p>
  </article>

  <article>    
    <h2>Jessica Ambrose <small>Project Manager</small></h2>

    <p>Jessica is an experienced event planner and graduate of Ryerson University’s Hospitality and Tourism Management Program, Bachelors Degree of Commerce. During her four years at Ryerson, she specialized in meeting and event management taking courses such as Special Event Management, Meetings and Convention Management, Business Aspects of Incentive Travel. She was involved in managing several events including the Ryerson Business Forum, School of Hospitality and Tourism Management Graduation Committee, as well as chairing the highly successful World Tourism Day.</p>

    <p>Jessica launched her career at Elastic Communications & Events as Project Coordinator and quickly became invaluable to the organization and was promoted to Project Manager. During this time she has managed numerous meetings and events from conception to execution and is responsible for all aspects of event planning from proposal writing, project and onsite management to reconciling invoices and post-conference evaluations.</p>

    <p>Jessica’s positive and energetic approach never fails to deliver programs that exceed client expectations, while providing hands-on attention to detail that ensures a successful event.</p>

    <p>Jessica grew up in a small town in South Western Ontario.  She can line dance and drive a tractor.</p>
  </article>

  <article>    
    <h2>Julia Westelaken <small>Program Coordinator</small></h2>

    <p>Julia is a budding event planner and graduate of Centennial College’s Festival, Event, and Conference Management post-graduate program.  She enjoyed and excelled in all her courses including Site Logistics and Operations Management, Creativity and Innovation, and Communications and Media Planning.  She is also a graduate of Wilfrid Laurier University with an Honours Bachelor’s Degree in Communication Studies and Women’s Studies with the Administration Option.</p>

    <p>Throughout her education, Julia has continuously volunteered in a variety of special events, such as Gold Medal Plates and the Scotiabank Toronto Waterfront Marathon, advancing to key volunteer positions.  She also is involved with PCMA (Professional Convention Management Association) as a member of the Communications committee.</p>

    <p>Julia has a passion for organization and enjoys contributing to the preparation and onsite delivery of events.  Her creative abilities enable her to express herself through art and dance.  She also loves adventure and spent over a year living and travelling throughout China.</p>
  </article>

  <article>    
    <h2>Michelle Wilson <small>Registration Manager</small></h2>

    <p>Michelle has been working in the conference and event industry as a program coordinator for seven years.  Michelle is Elastic’s registration expert.  Having worked on registration for events from 50 - 3000 attendees, Michelle is adept at developing practical and comprehensive registration systems that suit each project.  She is proficient in developing, maintaining and managing attendee databases and developing timely and pertinent reports.</p>

    <p>Working with the online registration provider, Michelle is able to advise and assist in developing customized registration systems troubleshoot issues with her extensive and insightful testing process.  She recently implemented an online registration system for a client whose international employees were used to paper fax-back forms.  She achieved a record registration period for this client who and actually had 90% of attendees registered two weeks prior to the deadline.</p>

    <p>Michelle is married with the million-dollar family and spends most of her time in a hockey rink with her children.</p>
  </article>

  <article>    
    <h2>Perry Diavatopolous <small>Creative Designer</small></h2>

    <p>Perry draws on more than two decades of work in branding, promotion and advertising. Perry Diavatopolous has had the 
privilege of working with some of Canada’s most successful consumer goods manufactures, national retailers and corporations, uniquely blending strategy and creative into memorable brand experiences.</p>

    <p>Perry infuses a no-nonsense approach with a deep appreciation for well-crafted creative and fresh thinking to every project. He believes delivering the ‘right message’ is about more than simply providing information—it’s about creating meaningful connections that inform, persuade and inspire!</p>

    <p>Perry’s background includes major branding and promotional programs for Seagram, Merck Frosst, Cadbury/Adams, Energizer, Cadbury Beverages, Mother Parkers, Blockbuster Video, Reckitt Benckiser, Mosaiq, CIBC, and Novartis Consumer Health.</p>

    <p>Perry is a foodie by marriage with a wife that is creative in the kitchen while his passion for design transcends outside business to homes and gardens.</p>
  </article>  
</section>
