<section>
	<header>
		<div class="page-header">
			<h1>Testimonials & Industry Recognition</h1>
		</div>
		
		<div class="well">
			<p class="lead">Our clients cross a variety of industry sectors and client needs, program scope and budgets vary but our commitment remains the same …</p>
			<p class="lead">… to create, manage, and produce successful conferences, meetings and events while providing the most effective communications solution.</p>
		</div>		
	</header>

	<article>
		<h2>Industry Recognition</h2>
		<p>Elastic Communications & Events is passionate about the meetings & events industry.  Our team is active in Meeting Professionals International, Toronto Chapter and members of Professional Convention Management Association which give us continuous professional development education & networking opportunities with key suppliers.</p>
		<p>Yvonne Dewar is a designated Certified Meeting Professional [CMP] and the MPI Toronto Chapter President 2012/2013.  Yvonne was also awarded the prestigious MPI Toronto Chapter, Planner of the Year in 2012.</p>
		<p>Jessica Ambrose was recognized in Meeting & Incentive Travel Magazine’s Hall of Fame with the 2011 Rising Star Award.</p>
	</article>
		
	<article>
		<h2>Testimonials</h2>
		<br />
		
		<%= image_tag "tourismtoronto.jpg", :class => "pull-right" %>
		<blockquote>
			<p>“… It is a unique skill to communicate the big picture while manage the smaller details so effectively, getting a diverse group of people to work together and handle challenges with diplomacy and tact.”</p>
			<small>
				Kathryn Wakefield, Director, Client Services<br />
				Tourism Toronto<br />
				<a href="mailto:kwakefield@torcvb.com">kwakefield@torcvb.com</a><br />
				416-203-3829<br />
			</small>
		</blockquote>
		<br /><br />

		<%= image_tag "associatedluxuryhotels.jpg", :class => "pull-right" %>
		<blockquote>
			<p>“Elastic is dedicated to providing the best program for their clients. It is their personal connection and understanding of their client’s requirements that sets them apart from other companies. Their knowledge of the meetings industry enables them to negotiate preferred contracts by leveraging long standing relationships with industry partners.  It is a privilege to be of service to one of the top meeting planning companies in our industry.”</p>
			<small>
				Susan Bernad, National Account Manager<br />
				Associated Luxury Hotels<br />
				<a href="mailto:sbernad@ahli.com">sbernad@ahli.com</a><br /> 
				905-846-4477<br />
			</small>
		</blockquote>
		<br /><br />

		<%= image_tag "ccrsolutions.jpg", :class => "pull-right" %>
		<blockquote>
			<p>“Elastic staff are detail-oriented meeting professionals with a wealth of industry knowledge, experience and expertise.  They are proactive planners, creative thinkers, and always ensure they deliver the best possible customer experience for  their clients.”</p>
			<small>
				Chimah Ekeanyanwu<br /> 
				National Sales Account Manager<br /> 
				CCR Solutions<br />  
				<a href="mailto:chimahe@ccrsolutions.com">chimahe@ccrsolutions.com</a><br /> 
				416-675-2480 x239<br /> 
			</small>
		</blockquote>
	</article>
</section>
<br><br>
