<section>
  <header>
    <h1>What We Do</h1>
  </header>
  <article>
    <p><strong>Elastic Communications & Events Inc.</strong> specializes in meetings, events and travel incentive programs for corporations, government and associations.   Whether you are planning a sales meeting, tradeshow or an awards & service gala, <strong>Elastic Communications & Events Inc.</strong> is solution-oriented and focused on your needs.  You tell us what and we bring your business objectives to life!
  </p>

  <p><em>Our Services include:</em></p>

    <ul>
      <li>Program Development and Coordination</li>
      <li>Site Inspections & Selection</li>
      <li>Registration Management</li>
      <li>Hotel/Venue Management</li>
      <li>Accommodation Coordination</li>
      <li>Travel Coordination</li>
      <li>Food & Beverage Management</li>
      <li>Audio-Visual & Staging Coordination</li>
      <li>Décor & Entertainment Coordination</li>
      <li>Speaker Management</li>
      <li>Exhibitor & Sponsor Management</li>
      <li>Sponsor Solicitation</li>
      <li>Creative & Theme Development</li>
      <li>Collateral Design & Production Coordination</li>
      <li>SWAG Coordination</li>
      <li>On-site Management and Event Production</li>
      <li>Budget Management, Review & Analysis</li>
      <li>Post-Event Evaluation</li>
      <li>Post meeting Retrospective</li>
    </ul>
  </article>
</section>
