<section>
<header>
  <h1>What We Do</h1>
</header>
<article>Elastic Communications & Events specializes in meetings, events and travel incentive programs for corporations, associations and government. We can help bring your business objectives to life: 
<table>
  <ul>
    <li>Product Launch</li>
    <li>Company Fun Day/Celebration</li>
    <li>Client VIP Event</li>
    <li>National or Regional Meetings</li>
    <li>Board Meeting</li>
    <li>Executive Retreat</li>
    <li>Annual General Meeting</li>
    <li>Orientation Seminars</li>
    <li>Seasonal/Holiday Event</li>
    <li>Incentive Travel</li>
    <li>Award & Service Gala</li>
    <li>Training and Teambuilding Program</li>
    <li>Company "Town Hall"</li>
    <li>Stakeholder/Partner Meeting</li>
    <li>Dine-arounds</li>
  </ul>
</table>
<p>We offer comprehensive conference and event services, so if what you’re looking for isn’t here – just ask!</p>
<p><strong>Elastic is never static … always looking to make your conference, meeting or event an original. </strong></p>
</article>

<article>
  <h1>Our Services</h1>
  Elastic Communications & Events offers a diverse range of services: from planning and marketing to execution and evaluation. 
  This list is by no means complete. Let us know what your objectives are, and we can provide you with a step-by-step action plan. 
</article>

<article>
  <h1>Planning</h1>
  Program Development and Coordination
  <table>
    <ul>
      <li>Conduct a needs assessment to determine meeting objectives</li>
      <li>Research client history and industry hot topics</li>
    </ul>
  </table>
  Site Selection
  <table>
    <ul>
      <li>Research destinations</li>
      <li>Provide hotel recommendations, negotiations and contracting</li>
    <ul>
  </table>
  Accommodation/Venue Coordination
  <table>
    <ul>
      <li>Determine billing instructions, monitor room blocks, cut-off dates and deposit schedules</li>
      <li>Develop healthy, varied menus, taking into consideration dietary restrictions</li>
    </ul>
  </table>
  Travel Coordination
  <table>
    <ul>
      <li>Negotiate and coordinate fares and tickets, airport transfers, hotel and offsite event shuttles</li>
    </ul>
  </table>
  Registration
  <table>
    <ul>
      <li>Manage attendee database</li>
      <li>Monitor and report attendance, capacities etc</li>
    </ul>
  </table>
  Coordinate and negotiate price for audiovisual and staging outsourcing
  <table>
    <ul>
      <li>Develop set/stage design and A/V requirements</li>
      <li>Negotiate with suppliers and contract services</li>
    </ul>
  </table>
  <p>Coordinate and negotiate price for food and beverage and entertainment</p> 
  <p>Coordinate speaker arrangements</p>
  <table>
    <ul>
      <li>Source speaker based on client requests and event theme</li>
      <li>Develop Speaker information kit</li>
      <li>Information sheet: speaker contact info, designations, equipment required, name of presentations, handouts etc.</li>
      <li>Contract</li>
    <ul>
  <table>
  <p>Coordinate audio-visual and staging requirements</p>
</article>

<article>
  <h1>Marketing</h1>
  <p>Develop conference, event or meeting theme<p>
  <p>Produce on-site collateral material
    <table>
      <ul>
        <li>Design and produce all pre and onsite pieces to fit theme and maintain consistency</li>
      </ul>
    </table>
  </p>
  <p>Coordinate creation of CD of proceedings</p>
</article>

<article>
  <h1>Execution</h1>
  <p>On-site Management
    <table>
      <ul>
        <li>Conduct briefings with venues, subcontractors, client and on-site staff</li>
        <li>Staff and supervise hospitality/information desk</li>
        <li>Supervise leisure activities</li>
        <li>On-site registration</li>
     </ul>
    </table>
  </p>
  <p>Event Production</p>
  <p>Budget management/billing reconciliation</p>
</article>

<article>
  <h1>Evaluation</h1>
  <p>Prepare and circulate participant feedback forms</p>
</article>
</section>
