<section>
  <header>
    <div class="page-header">
      <h1>Who We Are</h1>
    </div>
  </header>
  <article>
    <p>Established in 2005, Elastic Communications & Events works with clients to achieve specific communication goals and objectives by creating and executing exceptional meetings, conferences, special events and exposition programs.</p>

    <ul>
      <li><strong>We are Elastic … Communications & Events Inc.</strong></li>
      <p>A conference, meeting or event provides a unique opportunity to share a powerful experience with partners, members and stakeholders.  Whatever the program size and location, we will set the scene.  The more powerful the experience – the more influential the message.  Our team of professional planners are committed to providing exceptional service that stretches client expectations.</p>

      <li><strong>Elastic … stretching everything from budgets to imaginations. &trade;</strong></li>
      <p>In today’s business world, conferences, meetings and events must be creative, unique and professional and at the same time, successfully meet business objectives.  Our team of dedicated professionals provides customized solutions with the experience, insight and imagination to deliver.  We are committed to providing you with solutions – on budget and on time.</p>
    
      <li><strong>Elastic holds it all together … working behind the scene to make you shine.</strong></li>
      <p>Elastic Communications & Events Inc. provides a full range of conference, meeting and event services – from planning and marketing to execution and evaluation.  We work with clients to determine meeting objectives and develop a plan of action.  This includes conducting a needs assessment and developing a critical path to ensure all deadlines and objectives are met.   
  We develop personalized measurement tools to assist in determining the effectiveness of your event.</p>
      
      <li><strong>Elastic is never static … always looking to make your event an original.</strong></li>
      <p>Our clients benefit from our exceptional industry alliances so Elastic is never static. We are always seeking new resources that will make your conference or event an original. </p>
    </ul>
  </article>
</section>
