// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {  
  font-family: 'MarketingScript';  
  src: url("MarketingScript.ttf") format("truetype");  
}  

.MarketingScript { font-family: MarketingScript , verdana, helvetica, sans-serif; color: #828EC2;  
}
   
h1{
  font-family: MarketingScript , verdana, helvetica, sans-serif;
  font-size: xx-large;
}

.lead{
  font-size: medium;
}

#nav
{
  background: url(Elastic_Header.jpg) no-repeat left center;
  background-color:#828EC2;
  background-position:right;
  .active > a
  {   
    background-color: #B2BCDF;
  }
  a
  {
    color:#FFFFFF;
  }
  a:hover{
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1);
  }
  li a
  {
    font: normal "LeagueGothicRegular", Tahoma, Arial, sans-serif;
    text-shadow: 1px 1px 1px #9450E2;
    position: relative;
    color:#FFFFFF;
  }
  li a:hover{
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1);
  }  
  div.in{
    background-color:#828EC2;
    margin-right:-50px;
    margin-left:-10px;
  }
  div.in li{
    max-width: 150px;
  }
  div.in li a:hover{
    background-color: #828EC2;
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1);
  }
}

div.page-header{
  border-bottom: 5px dotted #828EC2;
}

.notice{
background: #B2BCDF;
color: #4C316B;
padding: 0.8em;
margin-bottom: 1em;
border: 2px solid #9450E2;
}

#section-preview{
  p{
    color: #808080;
  }
  h2{
    a:link, a:visited
    { 
      color: #828EC2;
      font-family: MarketingScript , verdana, helvetica, sans-serif;
      font-size: x-large;      
    }
    a:hover {
      color: #828EC2;
      -webkit-transform: scale(1.1); 
      -moz-transform: scale(1.1); 
      -o-transform: scale(1.1); 
      transform: scale(1.1);
    }
  }
}

