<section id="tabs">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#who-we-are">Who We Are</a></li>
    <li><a href="#what-we-do" >What We Do</a></li>
    <li><a href="#how-we-do-it" >How We Do It</a></li>
    <li><a href="#contact-us" >Contact Us</a></li>
  </ul>
</section>
