<!DOCTYPE html>
<html>
<head>
  <title>Elastic</title>

  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">

<h1>Elastic</h1>
<p>Stretching everything from budgets to imagination<sup>TM</sup></p>

<header role="banner">
  <nav>
    <%= render 'user_nav' %>
  </nav>
</header>

<%= yield %>

</body>
</html>
